@import "tailwindcss";
@plugin "@tailwindcss/typography"; /* Load the typography plugin */

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #13ec5b;

  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;

  --color-border-light: #e7f3eb;
  --color-border-dark: #1a2e21;

  --color-text-main: #0d1b12;
  --color-text-green: #4c9a66;
  --color-text-green-light: #a0c4ab;

  --font-display: "Manrope", sans-serif;
  --font-serif: "Fraunces", serif; /* Added Serif Font */
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  body {
    @apply bg-background-light text-text-main transition-colors duration-300;
  }

  :root.dark body {
    @apply bg-background-dark text-[#f6f8f6];
  }
}
